*.o
build-transducerVisualizer-Desktop_Qt_5_8_0_GCC_64bit-Debug
!build-transducerVisualizer-Desktop_Qt_5_8_0_GCC_64bit-Debug/Makefile
!build-transducerVisualizer-Desktop_Qt_5_8_0_GCC_64bit-Debug/TransducerGUI/Makefile
!build-transducerVisualizer-Desktop_Qt_5_8_0_GCC_64bit-Debug/TransducerLogic/Makefile
!build-transducerVisualizer-Desktop_Qt_5_8_0_GCC_64bit-Debug/TransducerUnderTest/Makefile
